body{
    margin: 0;
    padding: 0;
    background-color: bisque;
}

#canvas{
    border: solid black 2px;
    width: 640px;
    height:640px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    background-color: white;
}

.box{
    border: solid black 1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

h1{
    
    top: 0px;
    margin: 0px;
    text-align: center;
    background-color:darkgoldenrod;
    padding: 50px;
    font-family:  Calibri;
    font-size: 90px;
    font-weight: 900;
    color: lightyellow;
}

#settings{
    background-color: chocolate;
    display:flex;
    color:white;
    height: fit-content;
    padding: 20px;
    gap: 10px;
    font-size: 20px;
    border: solid rgb(70, 0, 0);
    justify-content: space-around;
    border-radius: 20px;
    width: 500px;
}

#settings div{
    display: flex;
    justify-content: space-between;
}

#settings select{
    background-color: lightsalmon;
    margin-left: 10px;
    border-radius: 5px;
    border: solid rgb(100, 0, 0) 1px;
}

.main{
    display: flex;
    flex-direction: column;
    margin: 50px;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}
